@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.div-1{
    position: relative;
    height: 110vh;
    width: 100%;
    top: 0;
    padding: 0;
    margin: 0;
    left: 0;
    background-image: url("assets/img/landing/about/About_Landing-06.png");
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
   

}

.div-2{
    position: absolute;
    height: 110vh;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    z-index: 1;
    left: 0;
    background-image: url("assets/img/landing/about/About_Landing-07.png");
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    animation: stars 4s infinite ease-in-out;

}
.div-4{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size:18px ;

    padding: 40px;
    color:#000033;
    font-family: 'Montserrat', sans-serif;
    left: 0;
}
@keyframes stars{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.2;
    }
    100%{
        opacity: 1;
        
    }
}
.div-3{

    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
}
.img1{
    position: absolute;
    width: 7%;
    left:40%;
    top: 5%;
    animation: animate1 3s infinite ease-in-out;
}
@keyframes animate1{
    0%{
        left: 40%;
        top: 5%;
    }
    50%{
        left: 43%;
        top:3%;
    }
    100%{
        left: 40%;
        top: 5%;
    }
}
.img2{
    position: absolute;
    left: 60%;
    width: 10%;
    top: 15%;
    animation: ani2 3s infinite ease-in-out;
}
@keyframes ani2
{
    0%{
        left: 60%;
        top: 15%;
    }
    50%{
        left: 56%;
        top: 18%;
    }
    100%{
        left: 60%;
        top: 15%;
    }
}
.img3{
    position: absolute;
    left: 65%;
    width: 13%;
    top: 50%;
    animation: ani3 2s infinite ease-in-out;
}
@keyframes ani3{
    0%{
        left: 65%;
        top: 50%;
    }
    50%{
        left: 69%;
        top: 48%;
    }
    100%{
        left: 65%;
        top: 50%;
    }
}
.img4{
    position: absolute;
    left: 85%;
    width: 10%;
    top: 6%;
    animation: ani4 3s infinite ease-in-out;
}
@keyframes ani4{
    0%{
        left: 85%;
        top: 10%;
    }
    50%{
        left: 82%;
        top: 12%;
    }
    100%{
        left: 85%;
        top: 10%;
    }
}
.img5{
    position: absolute;
    left: 72%;
    top: 9%;
    width: 9%;
    animation: ani5 3s infinite ease-in-out;
}
@keyframes ani5{
    0%{
        left: 72%;
        top: 15%;
    }
    50%{
        left: 75%;
        top: 9%;
    }
    100%{
        left: 72%;
        top: 15%;
    }
}
.about_heading {
    margin: auto;
    font-size: 40px;
    transform: translate(-50px,30px);
    text-shadow: 0px 3px 0px #ccc, 0px 10px 10px rgba(0, 0, 0, 0.15),
        0px 6px 2px rgba(0, 0, 0, 0.1), 0px 24px 30px rgba(0, 0, 0, 0.1);
}

.img7{
    position: absolute;
    left: 86%;
    top: 30% ;
    width: 8%;
    animation: ani7 2s infinite ease-in-out;
    }
@keyframes ani7{
    0%{
        left: 86%;
        top: 30%;
    }
    50%{
        left: 82%;
        top: 35%;
    }
    100%{
        left: 86%;
        top: 30%;
    }
}
.img6{
        position: absolute;
    width: 25%;
    left: 75%;
    top: 50%;;
}
@media (max-width: 776px) and (min-width: 400px){
    .div-1{
        background-image: url("assets/img/landing/about/About_Mobile-01.png");
    }
    .div-2{
        background-image: url("assets/img/landing/about/About_Mobile-02.png");
    }
    .about_heading{
        text-shadow: 0px 3px 0px #1678a5, 0px 10px 10px rgb(0 0 0 / 15%), 0px 6px 2px rgb(0 0 0 / 10%), 0px 24px 30px rgb(0 0 0 / 10%);
        color: #ffff;
    }
    .about_button{
    margin-top: 10em !important;

}
    .img6{
    position: absolute;
    width:40%;
    left: 58%;
    top: 65%;
}
    .img1{
    position: absolute;
    width: 7%;
    left:50%;
    top: 5%;
    animation: animate1 2s infinite ease-in-out;
}
@keyframes animate1{
    0%{
        left: 20%;
        top: 5%;
    }
    50%{
        left: 24%;
        top:3%;
    }
    100%{
        left: 20%;
        top: 5%;
    }
}
   .img2{
    position: absolute;
    width: 14%;
    left: 60%;
    top: 15%;
    animation: ani2 2s infinite ease-in-out;
}
@keyframes ani2
{
    0%{
        left: 60%;
        top: 15%;
    }
    50%{
        left: 63%;
        top: 16%;
    }
    100%{
        left: 60%;
        top: 15%;
    }
}
.img3{
    position: absolute;
    left: 10%;
    width: 24%;
    top: 30%;
    animation: ani3 3s infinite ease-in-out;
}
@keyframes ani3{
    0%{
        left: 15%;
        top: 30%;
    }
    50%{
        left: 19%;
        top: 33%;
    }
    100%{
        left: 15%;
        top: 30%;
    }
}
.img4{
    position: absolute;
    left: 55%;
    width: 14%;
    top: 20%;
    animation: ani4 3s infinite ease-in-out;
}
@keyframes ani4{
    0%{
        left: 55%;
        top: 20%;
    }
    50%{
        left: 52%;
        top: 24%;
    }
    100%{
        left: 55%;
        top: 20%;
    }
}
.img5{
    position: absolute;
    left: 72%;
    top: 15%;
    width:14%;
    animation: ani5 3s infinite ease-in-out;
}
@keyframes ani5{
    0%{
        left: 72%;
        top: 15%;
    }
    50%{
        left: 75%;
        top: 20%;
    }
    100%{
        left: 72%;
        top: 15%;
    }
}
.img7{
    position: absolute;
    left: 86%;
    top: 45% ;
    width: 12%;
    animation: ani7 4s infinite ease-in-out;
    }
@keyframes ani7{
    0%{
        left: 86%;
        top: 45%;
    }
    50%{
        left: 82%;
        top: 50%;
    }
    100%{
        left: 86%;
        top: 45%;
    }
}
.buttons{
    transform: translateY(40px);
}
}
@media (max-width: 1475px) and (min-width: 776px){
    .div-1{
        background-image: url("assets/img/landing/about/About_landscape-01.png");
    }
    .div-2{
        background-image: url("assets/img/landing/about/About_landscape-02.png");
    }
   
}
@media (max-width: 400px){
    .div-1{
        background-image: url("assets/img/landing/about/Iphone_about-01.png");
    }
    .div-2{
        background-image: url("assets/img/landing/about/Iphone_about-02.png");
    }
    .about_heading{
        text-shadow: 0px 3px 0px #1678a5, 0px 10px 10px rgb(0 0 0 / 15%), 0px 6px 2px rgb(0 0 0 / 10%), 0px 24px 30px rgb(0 0 0 / 10%);
        color: #ffff;
    }
    .about_button{
    margin-top: 11em !important;
    margin-left: 4em !important;
    color: red;
}
        .img6{
    position: absolute;
    width:50%;
    left: 48%;
    top: 75%;
}
    .img1{
    position: absolute;
    width: 7%;
    left:50%;
    top: 5%;
    animation: animate1 2s infinite ease-in-out;
}
@keyframes animate1{
    0%{
        left: 20%;
        top: 5%;
    }
    50%{
        left: 24%;
        top:3%;
    }
    100%{
        left: 20%;
        top: 5%;
    }
}
   .img2{
    position: absolute;
    width: 14%;
    left: 60%;
    top: 15%;
    animation: ani2 2s infinite ease-in-out;
}
@keyframes ani2
{
    0%{
        left: 60%;
        top: 15%;
    }
    50%{
        left: 63%;
        top: 16%;
    }
    100%{
        left: 60%;
        top: 15%;
    }
}
.img3{
    position: absolute;
    left: 10%;
    width: 24%;
    top: 30%;
    animation: ani3 3s infinite ease-in-out;
}
@keyframes ani3{
    0%{
        left: 15%;
        top: 30%;
    }
    50%{
        left: 19%;
        top: 33%;
    }
    100%{
        left: 15%;
        top: 30%;
    }
}
.img4{
    position: absolute;
    left: 55%;
    width: 14%;
    top: 30%;
    animation: ani4 3s infinite ease-in-out;
}
@keyframes ani4{
    0%{
        left: 55%;
        top: 30%;
    }
    50%{
        left: 52%;
        top: 32%;
    }
    100%{
        left: 55%;
        top: 30%;
    }
}
.img5{
    position: absolute;
    left: 72%;
    top: 9%;
    width:14%;
    animation: ani5 3s infinite ease-in-out;
}
@keyframes ani5{
    0%{
        left: 72%;
        top: 15%;
    }
    50%{
        left: 75%;
        top: 9%;
    }
    100%{
        left: 72%;
        top: 15%;
    }
}
.img7{
    position: absolute;
    left: 86%;
    top: 45% ;
    width: 12%;
    animation: ani7 2s infinite ease-in-out;
    }
@keyframes ani7{
    0%{
        left: 86%;
        top: 45%;
    }
    50%{
        left: 82%;
        top: 50%;
    }
    100%{
        left: 86%;
        top: 45%;
    }
}
}
.buttonsa{
    z-index: 5;
    transform: translate(-30px,10px);
}