@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.landing{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow:hidden;
}
.ldiv-1{
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-image: url("assets/img/landing/Beapart/login register-01.png");
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;

}

.ldiv-2{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
    background-image: url("assets/img/landing/Beapart/login register-02.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    animation: stars 4s infinite ease-in-out;

}

@keyframes stars{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.2;
    }
    100%{
        opacity: 1;
        
    }
}
.ldiv-3{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 5;
    left: 0;

}
.ldiv-4{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    font-size: 25px;
    color:#000033;
    font-family: 'Montserrat', sans-serif;
}

.limg1{
    position: absolute;
    width: 9%;
    left: 8%;
    top: 3%;
    animation: banimation1 7s infinite ease-in-out;
}
@keyframes banimation1{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
.limg2{
    position: absolute;
    width: 10%;
    top: 23%;
    left: 3%;
    animation: banimation2 12s infinite ease-in-out;
}
@keyframes banimation2{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
.limg3{
    position: absolute;
    left: 7%;
    top: 48%;
    width: 11%;
    animation: banimation3 3s infinite ease-in-out;
}
@keyframes banimation3{
    0%{
        left:7%;
        top: 48%;
    }
    50%{
        left: 8%;
        top: 45%;
    }
    100%{
        left: 7%;
        top: 48%;
    }
}
.limg4{
    position: absolute;
    left: 27%;
    top: 3%;
    width: 15%;
    animation: banimation4 3s infinite ease-in-out;
}
@keyframes banimation4{
    0%{
        left: 27%;
        top: 3%;
    }
    50%{
        left: 25%;
        top: 5%;
    }
    100%{
        left: 27%;
        top: 3%;
    }
}
.limg5{
    position: absolute;
    top: 24%;
    left: 20%;
    width: 7%;
    animation: banimation5 6s infinite ease-in-out;
}
@keyframes banimation5{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
.limg6{
    position: absolute;
    width: 20%;
    top: 29%;
    left: 77%;
    animation: banimation6 2s infinite ease-in-out;
}
@keyframes banimation6{
    0%{
    top: 29%;
    left: 77%;
    }
    50%{

    top: 25%;
    left: 77%;
    }
    100%{
    top: 29%;
    left: 77%;
    }
}


.heading {
    font-size: 48px;
    text-shadow: 0px 3px 0px #ccc, 0px 10px 10px rgba(0, 0, 0, 0.15),
        0px 8px 2px rgba(0, 0, 0, 0.1), 0px 24px 30px rgba(0, 0, 0, 0.1);
}
@media (max-width: 776px) {
    .ldiv-1{
        background-image: url("assets/img/landing/Beapart/Login_register_mobile-01.png");
    }
    .ldiv-2{
        background-image: url("assets/img/landing/Beapart/Login_register_mobile-02.png");
    }
    .limg1{
    position: absolute;
    width: 15%;
    left: 1%;
    top: 3%;
    animation: banimation1 7s infinite ease-in-out;
}
.be_heading{
    margin-top: -20px;
}
@keyframes banimation1{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
.limg2{
    position: absolute;
    width: 10%;
    top: 23%;
    left: 3%;
    animation: banimation2 12s infinite ease-in-out;
}
@keyframes banimation2{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
.limg3{
    position: absolute;
    left: 42%;
    top: 2%;
    width: 10%;
    animation: banimation3 3s infinite ease-in-out;
}
@keyframes banimation3{
    0%{
        left:34%;
        top: 2%;
    }
    50%{
        left: 30%;
        top: 2%;
    }
    100%{
        left: 34%;
        top: 2%;
    }
}
.limg4{
    position: absolute;
    left: 50%;
    width: 15%;
    animation: banimation4 3s infinite ease-in-out;
}
@keyframes banimation4{
    0%{
        left: 50%;
       
    }
    50%{
        left: 53%;
       
    }
    100%{
        left: 50%;  
    }
}
.limg5{
    position: absolute;
    top: 10%;
    left: 28%;
    width: 10%;
    animation: banimation5 6s infinite ease-in-out;
}
@keyframes banimation5{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
.limg6{
    position: absolute;
    width: 40%;
    top: 59%;
    left: 60%;
    animation: banimation6 2s infinite ease-in-out;
}
@keyframes banimation6{
    0%{
    top: 59%;
    left: 60%;
    }
    50%{

    top: 55%;
    left: 60%;
    }
    100%{
    top: 59%;
    left: 60%;
    }
}


}
/*@media (max-width: 1475px) and (min-width: 776px){
  .ldiv-1{
         background-image: url("assets/img/landing/Beapart/login-register_landscape-01.png");
    }
    .ldiv-2{
         background-image: url("assets/img/landing/Beapart/login-register_landscape-02.png");
    }
}
@media (max-width: 1175px) and (min-width: 776px){
  .ldiv-1{
         background-image: url("assets/img/landing/Beapart/Login-Register_tab-01.png");
    }
    .ldiv-2{
         background-image: url("assets/img/landing/Beapart/Login-Register_tab-02.png");
    }
}/*
@media (max-width: 450px) {
  .ldiv-1{
         background-image: url("assets/img/landing/Beapart/Iphone_login_register-01.png");

    }
    .ldiv-2{
         background-image: url("assets/img/landing/Beapart/Iphone_login_register-02.png");
    }
    .limg1{
    position: absolute;
    width: 15%;
    left: 1%;
    top: 3%;
    animation: banimation1 7s infinite ease-in-out;
}
@keyframes banimation1{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
.limg2{
    position: absolute;
    width: 10%;
    top: 23%;
    left: 3%;
    animation: banimation2 12s infinite ease-in-out;
}
@keyframes banimation2{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
.limg3{
    position: absolute;
    left: 42%;
    top: 2%;
    width: 10%;
    animation: banimation3 3s infinite ease-in-out;
}
@keyframes banimation3{
    0%{
        left:34%;
        top: 2%;
    }
    50%{
        left: 30%;
        top: 2%;
    }
    100%{
        left: 34%;
        top: 2%;
    }
}
.limg4{
    position: absolute;
    left: 50%;
    width: 15%;
    animation: banimation4 3s infinite ease-in-out;
}
@keyframes banimation4{
    0%{
        left: 50%;
       
    }
    50%{
        left: 53%;
       
    }
    100%{
        left: 50%;  
    }
}
.limg5{
    position: absolute;
    top: 10%;
    left: 28%;
    width: 10%;
    animation: banimation5 6s infinite ease-in-out;
}
@keyframes banimation5{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
.limg6{
    position: absolute;
    width: 40%;
    top: 59%;
    left: 60%;
    animation: banimation6 2s infinite ease-in-out;
}
@keyframes banimation6{
    0%{
    top: 59%;
    left: 60%;
    }
    50%{

    top: 55%;
    left: 60%;
    }
    100%{
    top: 59%;
    left: 60%;
    }
}
}*/
.be_heading {
    margin: auto;
    font-size: 40px;
    transform: translate(0px,0px);
    text-shadow: 0px 3px 0px #ccc, 0px 10px 10px rgba(0, 0, 0, 0.15),
        0px 6px 2px rgba(0, 0, 0, 0.1), 0px 24px 30px rgba(0, 0, 0, 0.1);
}
