.start{
  height: 100vh;
  width: 100vw;
  scroll-snap-type: x proximity;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
}


.landing{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow:hidden;
     z-index: 7;
}
.landing_donate{
  height: 130vh;
    width: 100%;
    position: relative;
    overflow:hidden;
}
.landing2{
  height: 110vh;
  width: 100%;
  position: relative;
}
.starty{
  height: 100%;
  width: 100%;
  scroll-snap-type: y proximity;
  overflow-x: hidden;
  overflow-y: scroll;

}
::-webkit-scrollbar{
    width: .60rem;
    background-color: #ccc;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: #000033;
    border-radius: .5rem;
}
.main{
  flex: none;
  width: 100vw;
  height: 100vh;
  margin-left: -1.7px;
  scroll-snap-align: start;
}
@media only screen and (max-width: 1660px){
    .main{
      margin-left: -4px;
    }
}

@-webkit-keyframes ani-mouse {
  0% {
  opacity: 1;
  top: 29%;
  }
  15% {
  opacity: 1;
  top: 50%;
  }
  50% {
  opacity: 0;
  top: 50%;
  }
  100% {
  opacity: 0;
  top: 29%;
  }
}
@-moz-keyframes ani-mouse {
  0% {
  opacity: 1;
  top: 29%;
  }
  15% {
  opacity: 1;
  top: 50%;
  }
  50% {
  opacity: 0;
  top: 50%;
  }
  100% {
  opacity: 0;
  top: 29%;
  }
}
@keyframes ani-mouse {
  0% {
  opacity: 1;
  top: 29%;
  }
  15% {
  opacity: 1;
  top: 50%;
  }
  50% {
  opacity: 0;
  top: 50%;
  }
  100% {
  opacity: 0;
  top: 29%;
  }
}
 .scroll-btn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
.scroll-btn > * {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #7f8c8d;
  color: #ffffff;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
  color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.point{ 
    margin-left: -38px;
 }
.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 35px;
  height: 55px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid white;
  border-radius: 23px;
}
.scroll-btn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: white;
  border-radius: 50%;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite;
  }

  
#button {
  font-size: 1.5rem;
  background: var(--send);
  text-align: center;
  width: 10rem;
  padding: 0.5rem 0rem;
  border-radius: 1rem;
  color: #fff;
  cursor: pointer;
  position: relative;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2);
}

#icon {
  color: var(--default);
  position: absolute;
  top: 0.5rem;
  left: 5px;
  transform: rotate(90deg);
}

.send{
  animation: plane-up 4s ease-in-out forwards;
}

@keyframes plane-up {
  0% {
    transform: translate(0%, 0%) rotate(90deg);
  }
  10% {
    transform: translate(0%, 0%) rotate(0deg);
    color: var(--default);
  }
  20% {
    color: var(--send);
    transform: translate(0%, var(--y)) rotate(0deg);
  }
  40% {
    color: var(--send);
    transform: translate(0%, var(--y)) rotate(90deg);
  }
  50% {
    color: var(--send);
    transform: translate(var(--x), var(--y)) rotate(90deg);
  }
  60% {
    color: var(--send);
    transform: translate(var(--x), var(--y)) rotate(180deg);
  }
  80% {
    color: var(--default);
    transform: translate(var(--x), 0%) rotate(180deg);
  }
  100% {
    color: var(--default);
    transform: translate(var(--x), 0%) rotate(270deg);
  }
}






/*--buttton--*/

.button-upload {
  font-family: "Montserrat";
  background-color:#5E72E4;
  box-shadow: 0px 0px 16px #5E72E4;

  color: #ffffff;
  flex-direction: column;
  border: none;
 
  padding: 0.8rem;
  transform: translate(-10px,-10px);
  transition: all 0.5s cubic-bezier(0.68, 0.15, 0.31, 1.05);
}
.button-upload:hover {
  cursor: pointer;
  color: #ffffff;
  background:#5E72E4;
}
.button-upload:hover .button-upload__logo--complete {
  animation: rocketAnimation 2s cubic-bezier(0.68, 0.15, 0.31, 1.05) forwards;
}

.button-upload__text {
  font-size: 11px;
  font-weight: 800;
  margin-top: 0.2rem;
}
@keyframes rocketAnimation {
  0% {
    transform: rotate(49deg 18px 17px);
  }
  25% {
    transform: rotate(0deg) translateX(6px);
  }
  50% {
    transform: translateY(-45px) translateX(6px);
  }
  60% {
    transform: translateY(30px) translateX(6px);
  }
  70% {
    opacity: 0;
  }
  90% {
    transform: translateY(0px) translateX(6px);
    opacity: 1;
  }
  100% {
    transform: rotate(49deg 18px 17px);
  }
}
.landscape-view {
  background: black;
  height: 100vh;
  width: 100%;
}

.landscape-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.phone {
  height: 50px;
  width: 100px;
  border: 3px solid white;
  border-radius: 10px;
  animation: rotate 1.5s ease-in-out infinite alternate;
  /* display: none; */
}

.message {
  color: white;
  font-size: 1em;
  margin-top: 40px;
  /* display: none; */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  50% {
    transform: rotate(-90deg)
  }
  100% {
    transform: rotate(-90deg)
  }
}
.landscape-view{
  display: none;
}
@media only screen and (max-device-width: 812px) and (max-device-height: 400px) and (orientation: landscape) {
  
  .landscape-view{
    display: flex;
  }
  .hero{display: none;}
}
@media only screen  and (orientation: portrait){
  .landscape-view{
    display: none;
  }

}
