

.clients-section{
    position:relative;
    width:100%;
    max-width:940px;
    margin:0 auto
}
.clients-container{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column;
    -ms-flex-align:center;
    align-items:center;
    position:relative;
    max-width:938px;
    margin:50px auto 0
}
@media (min-width:992px){
    .clients-container{
        -ms-flex-direction:row;
        flex-direction:row;
        margin:60px auto 0
    }
}
.clients-group{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-pack:center;
    justify-content:center;
    -ms-flex:0 0 100%;
    flex:0 0 100%;
    width:100%
}
.clients-group+.clients-group{
    margin:20px 0 0
}
@media (min-width:992px){
    .clients-group+.clients-group{
        margin:0 0 0 22px
    }
}
@media (min-width:992px){
    .clients-group{
        -ms-flex:0 0 calc((100% - 88px) / 5);
        flex:0 0 calc((100% - 88px) / 5);
        width:calc((100% - 88px) / 5)
    }
}
.clients-item{
    width:100%;
    height:110px;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:center;
    justify-content:center;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex:0 0 100%;
    flex:0 0 100%;
    background-color:#fff;
    border-radius:16px; 
    transition-duration: .4s;    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.clients-item:hover{
    transform: scale(1.1);   
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
}
.clients-item.hoopsai{
    width:180px;
    height:60px;
    -ms-flex:0 0 180px;
    flex:0 0 180px;
    border-radius:9px
}
.clients-item.hoopsai img{
    width:110px
}
@media (min-width:992px){
    .clients-item.hoopsai{
        width:100%;
        height:110px;
        -ms-flex:0 0 100%;
        flex:0 0 100%;
        border-radius:16px
    }
}
.clients-item.agoda{
    width:260px;
    height:80px;
    -ms-flex:0 0 260px;
    flex:0 0 260px;
    border-radius:11px
}
.clients-item.agoda img{
    width:90px
}
@media (min-width:992px){
    .clients-item.agoda{
        width:100%;
        height:110px;
        -ms-flex:0 0 100%;
        flex:0 0 100%;
        border-radius:16px
    }
}
.clients-item.getsafe{
    display:none
}
.clients-item.getsafe img{
    width:95px
}
@media (min-width:992px){
    .clients-item.getsafe{
        display:-ms-flexbox;
        display:flex
    }
}
.clients-item.grab{
    width:320px;
    height:100px;
    -ms-flex:0 0 320px;
    flex:0 0 320px;
    border-radius:13px
}
.clients-item.grab img{
    width:90px
}
@media (min-width:992px){
    .clients-item.grab{
        width:100%;
        height:110px;
        -ms-flex:0 0 100%;
        flex:0 0 100%;
        border-radius:16px
    }
}
.clients-item.crisp{
    display:none
}
.clients-item.crisp img{
    width:95px
}
@media (min-width:992px){
    .clients-item.crisp{
        display:-ms-flexbox;
        display:flex
    }
}
.clients-item.anyleads{
    display:none
}
.clients-item.anyleads img{
    width:100px
}
@media (min-width:992px){
    .clients-item.anyleads{
        display:-ms-flexbox;
        display:flex
    }
}
.clients-item.teachable{
    width:260px;
    height:80px;
    -ms-flex:0 0 260px;
    flex:0 0 260px;
    border-radius:11px
}
.clients-item.teachable img{
    width:100px
}
@media (min-width:992px){
    .clients-item.teachable{
        width:100%;
        height:110px;
        -ms-flex:0 0 100%;
        flex:0 0 100%;
        border-radius:16px
    }
}
.clients-item.flyr{
    display:none
}
.clients-item.flyr img{
    width:80px
}
@media (min-width:992px){
    .clients-item.flyr{
        display:-ms-flexbox;
        display:flex
    }
}
.clients-item.roger{
    width:180px;
    height:60px;
    -ms-flex:0 0 180px;
    flex:0 0 180px;
    border-radius:9px
}
.clients-item.roger img{
    width:100px
}
@media (min-width:992px){
    .clients-item.roger{
        width:100%;
        height:110px;
        -ms-flex:0 0 100%;
        flex:0 0 100%;
        border-radius:16px
    }
}
.clients-item+.clients-item{
    margin:25px 0 0
}

.points .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin-top: 3rem;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    text-align: center;
    border-bottom: 3px solid #fff;
}

.points .icon-box:hover {
    transform: translateY(-15px);
    border-color: #23195E;
}


.points .icon i {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 25px;
    color: #23195E;
}
.icon {
    padding-top: 17px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 72px;
    height: 72px;
  }


.landing-card {
    transition-duration: .4s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: fit-content;
    border-radius: 8px;
}

.landing-card:hover {
    transform: scale(1.01); 
       box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);

}
.feature-card{
    background-color:#fff;
    border-radius:16px; 
    padding: 1rem;
    transition-duration: .4s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.feature-card:hover {
    transform: scale(1.05); 
       box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);

}
.font{
    font-size: 2rem !important;
}
.service-card {
   border-radius: 12px;
    transition-duration: .4s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.service-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
}
.statergy-card{
    border-radius: 12px;
    transition-duration: .4s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
}
.statergy-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
}



.footer_area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    padding:60px;
}
.footer_area .row {
    margin-left: -25px;
    margin-right: -25px;
}
.footer_area .row .col,
.footer_area .row .col-1,
.footer_area .row .col-10,
.footer_area .row .col-11,
.footer_area .row .col-12,
.footer_area .row .col-2,
.footer_area .row .col-3,
.footer_area .row .col-4,
.footer_area .row .col-5,
.footer_area .row .col-6,
.footer_area .row .col-7,
.footer_area .row .col-8,
.footer_area .row .col-9,
.footer_area .row .col-auto,
.footer_area .row .col-lg,
.footer_area .row .col-lg-1,
.footer_area .row .col-lg-10,
.footer_area .row .col-lg-11,
.footer_area .row .col-lg-12,
.footer_area .row .col-lg-2,
.footer_area .row .col-lg-3,
.footer_area .row .col-lg-4,
.footer_area .row .col-lg-5,
.footer_area .row .col-lg-6,
.footer_area .row .col-lg-7,
.footer_area .row .col-lg-8,
.footer_area .row .col-lg-9,
.footer_area .row .col-lg-auto,
.footer_area .row .col-md,
.footer_area .row .col-md-1,
.footer_area .row .col-md-10,
.footer_area .row .col-md-11,
.footer_area .row .col-md-12,
.footer_area .row .col-md-2,
.footer_area .row .col-md-3,
.footer_area .row .col-md-4,
.footer_area .row .col-md-5,
.footer_area .row .col-md-6,
.footer_area .row .col-md-7,
.footer_area .row .col-md-8,
.footer_area .row .col-md-9,
.footer_area .row .col-md-auto,
.footer_area .row .col-sm,
.footer_area .row .col-sm-1,
.footer_area .row .col-sm-10,
.footer_area .row .col-sm-11,
.footer_area .row .col-sm-12,
.footer_area .row .col-sm-2,
.footer_area .row .col-sm-3,
.footer_area .row .col-sm-4,
.footer_area .row .col-sm-5,
.footer_area .row .col-sm-6,
.footer_area .row .col-sm-7,
.footer_area .row .col-sm-8,
.footer_area .row .col-sm-9,
.footer_area .row .col-sm-auto,
.footer_area .row .col-xl,
.footer_area .row .col-xl-1,
.footer_area .row .col-xl-10,
.footer_area .row .col-xl-11,
.footer_area .row .col-xl-12,
.footer_area .row .col-xl-2,
.footer_area .row .col-xl-3,
.footer_area .row .col-xl-4,
.footer_area .row .col-xl-5,
.footer_area .row .col-xl-6,
.footer_area .row .col-xl-7,
.footer_area .row .col-xl-8,
.footer_area .row .col-xl-9,
.footer_area .row .col-xl-auto {
    padding-right: 25px;
    padding-left: 25px;
}

.single-footer-widget {
    position: relative;
    z-index: 1;
}
.single-footer-widget .copywrite-text a {
    color: #747794;
    font-size: 1rem;
}
.single-footer-widget .copywrite-text a:hover,
.single-footer-widget .copywrite-text a:focus {
    color: #3f43fd;
}
.single-footer-widget .widget-title {
    margin-bottom: 1.5rem;
}
.single-footer-widget .footer_menu li a {
    color: #747794;
    margin-bottom: 1rem;
    display: block;
    font-size: 1rem;
}
.single-footer-widget .footer_menu li a:hover,
.single-footer-widget .footer_menu li a:focus {
    color: #3f43fd;
}
.single-footer-widget .footer_menu li:last-child a {
    margin-bottom: 0;
}

.footer_social_area {
    position: relative;
    z-index: 1;
}
.footer_social_area a {
    border-radius: 50%;
    height: 40px;
    text-align: center;
    width: 40px;
    display: inline-block;
    background-color: #f5f5ff;
    line-height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 10px;
}
.footer_social_area a i {
    line-height: 36px;
}
.footer_social_area a:hover,
.footer_social_area a:focus {
    color: #ffffff;
}
